<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinyujiang.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--singleTop启动模式,在启动活动时如果发现返回栈的栈顶已经是该活动，则认为可以直接使用它，不会再创建新的活动实例
        singleTask启动模式，在启动活动时如果发现栈中已经有该活动那么就把该活动上的所有活动统统出栈，使得该活动变为栈顶；如果没找到那么就新建一个实例-->
        <activity
            android:name=".FirstActivity"
            android:launchMode="singleTask"
            android:label="This is FirstActivity">

            <!--
 指定活动中标题栏的内容，
            注意给主活动指定的label不仅会变成标题栏中的内容，还会成为启动器(Launcher)中应用程序显示的名称
            -->
            <intent-filter> <!-- 指定该活动为主活动 -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.xinyujiang.activitytest.ACTION_START" /> <!-- .配置intent-filter指定当前活动能够响应的action和category. -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xinyujiang.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" /> <!-- 配置当前活动能够响应的action是Intent.ACTION_VIEW的常量值 -->
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme= "http" /><!-- 指定数据的协议必须是http协议-->
            </intent-filter>
        </activity>
    </application>

</manifest>